# --- YAML ---
*.yml linguist-language=YAML linguist-detectable=true
*.yaml linguist-language=YAML linguist-detectable=true

# --- Docker ---
Dockerfile* linguist-language=Dockerfile linguist-detectable=true
*.dockerfile linguist-language=Dockerfile linguist-detectable=true

# --- Bash / Shell scripts ---
*.sh linguist-language=Shell linguist-detectable=true
*.bash linguist-language=Shell linguist-detectable=true